ZoologicoCliente/ZoologicoCliente/App_WebReferences/WSCuidadores/WS_Cuidadores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WS_Zoologico/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Cuidadores" targetNamespace="http://WS_Zoologico/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZoologicoServer/WS_Cuidadores?xsd=1" namespace="http://WS_Zoologico/" />
    </xsd:schema>
  </types>
  <message name="insertarCuidadores">
    <part name="parameters" element="tns:insertarCuidadores" />
  </message>
  <message name="insertarCuidadoresResponse">
    <part name="parameters" element="tns:insertarCuidadoresResponse" />
  </message>
  <message name="eliminarCuidadores">
    <part name="parameters" element="tns:eliminarCuidadores" />
  </message>
  <message name="eliminarCuidadoresResponse">
    <part name="parameters" element="tns:eliminarCuidadoresResponse" />
  </message>
  <message name="consultaCuidadores">
    <part name="parameters" element="tns:consultaCuidadores" />
  </message>
  <message name="consultaCuidadoresResponse">
    <part name="parameters" element="tns:consultaCuidadoresResponse" />
  </message>
  <message name="actualizarCuidadores">
    <part name="parameters" element="tns:actualizarCuidadores" />
  </message>
  <message name="actualizarCuidadoresResponse">
    <part name="parameters" element="tns:actualizarCuidadoresResponse" />
  </message>
  <portType name="WS_Cuidadores">
    <operation name="insertarCuidadores">
      <input wsam:Action="http://WS_Zoologico/WS_Cuidadores/insertarCuidadoresRequest" message="tns:insertarCuidadores" />
      <output wsam:Action="http://WS_Zoologico/WS_Cuidadores/insertarCuidadoresResponse" message="tns:insertarCuidadoresResponse" />
    </operation>
    <operation name="eliminarCuidadores">
      <input wsam:Action="http://WS_Zoologico/WS_Cuidadores/eliminarCuidadoresRequest" message="tns:eliminarCuidadores" />
      <output wsam:Action="http://WS_Zoologico/WS_Cuidadores/eliminarCuidadoresResponse" message="tns:eliminarCuidadoresResponse" />
    </operation>
    <operation name="consultaCuidadores">
      <input wsam:Action="http://WS_Zoologico/WS_Cuidadores/consultaCuidadoresRequest" message="tns:consultaCuidadores" />
      <output wsam:Action="http://WS_Zoologico/WS_Cuidadores/consultaCuidadoresResponse" message="tns:consultaCuidadoresResponse" />
    </operation>
    <operation name="actualizarCuidadores">
      <input wsam:Action="http://WS_Zoologico/WS_Cuidadores/actualizarCuidadoresRequest" message="tns:actualizarCuidadores" />
      <output wsam:Action="http://WS_Zoologico/WS_Cuidadores/actualizarCuidadoresResponse" message="tns:actualizarCuidadoresResponse" />
    </operation>
  </portType>
  <binding name="WS_CuidadoresPortBinding" type="tns:WS_Cuidadores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCuidadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuidadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaCuidadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCuidadores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Cuidadores">
    <port name="WS_CuidadoresPort" binding="tns:WS_CuidadoresPortBinding">
      <soap:address location="http://localhost:8080/ZoologicoServer/WS_Cuidadores" />
    </port>
  </service>
</definitions>