ZoologicoCliente/ZoologicoCliente/App_WebReferences/WSHabitat/WS_Habitad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WS_Zoologico/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Habitad" targetNamespace="http://WS_Zoologico/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZoologicoServer/WS_Habitad?xsd=1" namespace="http://WS_Zoologico/" />
    </xsd:schema>
  </types>
  <message name="consultaHabitad">
    <part name="parameters" element="tns:consultaHabitad" />
  </message>
  <message name="consultaHabitadResponse">
    <part name="parameters" element="tns:consultaHabitadResponse" />
  </message>
  <message name="insertarHabitad">
    <part name="parameters" element="tns:insertarHabitad" />
  </message>
  <message name="insertarHabitadResponse">
    <part name="parameters" element="tns:insertarHabitadResponse" />
  </message>
  <message name="eliminarHabitad">
    <part name="parameters" element="tns:eliminarHabitad" />
  </message>
  <message name="eliminarHabitadResponse">
    <part name="parameters" element="tns:eliminarHabitadResponse" />
  </message>
  <message name="actualizarHabitad">
    <part name="parameters" element="tns:actualizarHabitad" />
  </message>
  <message name="actualizarHabitadResponse">
    <part name="parameters" element="tns:actualizarHabitadResponse" />
  </message>
  <portType name="WS_Habitad">
    <operation name="consultaHabitad">
      <input wsam:Action="http://WS_Zoologico/WS_Habitad/consultaHabitadRequest" message="tns:consultaHabitad" />
      <output wsam:Action="http://WS_Zoologico/WS_Habitad/consultaHabitadResponse" message="tns:consultaHabitadResponse" />
    </operation>
    <operation name="insertarHabitad">
      <input wsam:Action="http://WS_Zoologico/WS_Habitad/insertarHabitadRequest" message="tns:insertarHabitad" />
      <output wsam:Action="http://WS_Zoologico/WS_Habitad/insertarHabitadResponse" message="tns:insertarHabitadResponse" />
    </operation>
    <operation name="eliminarHabitad">
      <input wsam:Action="http://WS_Zoologico/WS_Habitad/eliminarHabitadRequest" message="tns:eliminarHabitad" />
      <output wsam:Action="http://WS_Zoologico/WS_Habitad/eliminarHabitadResponse" message="tns:eliminarHabitadResponse" />
    </operation>
    <operation name="actualizarHabitad">
      <input wsam:Action="http://WS_Zoologico/WS_Habitad/actualizarHabitadRequest" message="tns:actualizarHabitad" />
      <output wsam:Action="http://WS_Zoologico/WS_Habitad/actualizarHabitadResponse" message="tns:actualizarHabitadResponse" />
    </operation>
  </portType>
  <binding name="WS_HabitadPortBinding" type="tns:WS_Habitad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaHabitad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHabitad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHabitad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarHabitad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Habitad">
    <port name="WS_HabitadPort" binding="tns:WS_HabitadPortBinding">
      <soap:address location="http://localhost:8080/ZoologicoServer/WS_Habitad" />
    </port>
  </service>
</definitions>