ZoologicoCliente/ZoologicoCliente/App_WebReferences/WSVeterinarios/WS_Veterinarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WS_Zoologico/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Veterinarios" targetNamespace="http://WS_Zoologico/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZoologicoServer/WS_Veterinarios?xsd=1" namespace="http://WS_Zoologico/" />
    </xsd:schema>
  </types>
  <message name="insertarVeterinarios">
    <part name="parameters" element="tns:insertarVeterinarios" />
  </message>
  <message name="insertarVeterinariosResponse">
    <part name="parameters" element="tns:insertarVeterinariosResponse" />
  </message>
  <message name="consultaVeterinarios">
    <part name="parameters" element="tns:consultaVeterinarios" />
  </message>
  <message name="consultaVeterinariosResponse">
    <part name="parameters" element="tns:consultaVeterinariosResponse" />
  </message>
  <message name="eliminarVeterinarios">
    <part name="parameters" element="tns:eliminarVeterinarios" />
  </message>
  <message name="eliminarVeterinariosResponse">
    <part name="parameters" element="tns:eliminarVeterinariosResponse" />
  </message>
  <message name="actualizarVeterinarios">
    <part name="parameters" element="tns:actualizarVeterinarios" />
  </message>
  <message name="actualizarVeterinariosResponse">
    <part name="parameters" element="tns:actualizarVeterinariosResponse" />
  </message>
  <portType name="WS_Veterinarios">
    <operation name="insertarVeterinarios">
      <input wsam:Action="http://WS_Zoologico/WS_Veterinarios/insertarVeterinariosRequest" message="tns:insertarVeterinarios" />
      <output wsam:Action="http://WS_Zoologico/WS_Veterinarios/insertarVeterinariosResponse" message="tns:insertarVeterinariosResponse" />
    </operation>
    <operation name="consultaVeterinarios">
      <input wsam:Action="http://WS_Zoologico/WS_Veterinarios/consultaVeterinariosRequest" message="tns:consultaVeterinarios" />
      <output wsam:Action="http://WS_Zoologico/WS_Veterinarios/consultaVeterinariosResponse" message="tns:consultaVeterinariosResponse" />
    </operation>
    <operation name="eliminarVeterinarios">
      <input wsam:Action="http://WS_Zoologico/WS_Veterinarios/eliminarVeterinariosRequest" message="tns:eliminarVeterinarios" />
      <output wsam:Action="http://WS_Zoologico/WS_Veterinarios/eliminarVeterinariosResponse" message="tns:eliminarVeterinariosResponse" />
    </operation>
    <operation name="actualizarVeterinarios">
      <input wsam:Action="http://WS_Zoologico/WS_Veterinarios/actualizarVeterinariosRequest" message="tns:actualizarVeterinarios" />
      <output wsam:Action="http://WS_Zoologico/WS_Veterinarios/actualizarVeterinariosResponse" message="tns:actualizarVeterinariosResponse" />
    </operation>
  </portType>
  <binding name="WS_VeterinariosPortBinding" type="tns:WS_Veterinarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarVeterinarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaVeterinarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarVeterinarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarVeterinarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Veterinarios">
    <port name="WS_VeterinariosPort" binding="tns:WS_VeterinariosPortBinding">
      <soap:address location="http://localhost:8080/ZoologicoServer/WS_Veterinarios" />
    </port>
  </service>
</definitions>