ZoologicoCliente/ZoologicoCliente/App_WebReferences/WSExpedientes/WS_Expedientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WS_Zoologico/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS_Expedientes" targetNamespace="http://WS_Zoologico/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZoologicoServer/WS_Expedientes?xsd=1" namespace="http://WS_Zoologico/" />
    </xsd:schema>
  </types>
  <message name="consultarInformacionRevisiones">
    <part name="parameters" element="tns:consultarInformacionRevisiones" />
  </message>
  <message name="consultarInformacionRevisionesResponse">
    <part name="parameters" element="tns:consultarInformacionRevisionesResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="consultarInformacionAnimal">
    <part name="parameters" element="tns:consultarInformacionAnimal" />
  </message>
  <message name="consultarInformacionAnimalResponse">
    <part name="parameters" element="tns:consultarInformacionAnimalResponse" />
  </message>
  <portType name="WS_Expedientes">
    <operation name="consultarInformacionRevisiones">
      <input wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionRevisionesRequest" message="tns:consultarInformacionRevisiones" />
      <output wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionRevisionesResponse" message="tns:consultarInformacionRevisionesResponse" />
      <fault wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionRevisiones/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="consultarInformacionAnimal">
      <input wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionAnimalRequest" message="tns:consultarInformacionAnimal" />
      <output wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionAnimalResponse" message="tns:consultarInformacionAnimalResponse" />
      <fault wsam:Action="http://WS_Zoologico/WS_Expedientes/consultarInformacionAnimal/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="WS_ExpedientesPortBinding" type="tns:WS_Expedientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultarInformacionRevisiones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="consultarInformacionAnimal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="WS_Expedientes">
    <port name="WS_ExpedientesPort" binding="tns:WS_ExpedientesPortBinding">
      <soap:address location="http://localhost:8080/ZoologicoServer/WS_Expedientes" />
    </port>
  </service>
</definitions>